body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav{
  width: 100%;
}
.news{
  padding: 3rem;
  display: flex;
  justify-content: space-evenly;
  width:80%;
  flex-wrap: wrap;
}
.card{
  margin-bottom: 2rem;
}

.btn-primary{
  background-color: #8367C7;
  border: none;
}
