body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav{
  width: 100%;
}
.news{
  padding: 3rem;
  display: flex;
  justify-content: space-evenly;
  width:80%;
  flex-wrap: wrap;
}
.card{
  display: flex;
  flex-direction:column;
  margin-bottom: 2rem;
}
.card-body{
  display: flex;
  flex-direction: column;
justify-content: flex-end;
}

.btn-primary{
  background-color: #8367C7;
  border: none;
}
.card-img-top{
  height: 300px!important;
}
